name: CI on push to branch
on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"
jobs:
  lint-and-format:
    name: Lint and check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - uses: pre-commit/action@v3.0.1
  run-unittests:
    name: Run unittests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.12"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: "**/test-requirements.txt"
      - name: Install test dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r test-requirements.txt
      - name: Run unittests via pytest
        run: pytest -vv -m "not endtoend and not singularity_integration and not conda_integration"
